/* font import */
@import url("https://fonts.googleapis.com/css?family=Asul:400,700|Cinzel:400,700,900|Cookie|Courgette|Dancing+Script:400,700|Germania+One|Kaushan+Script|Lobster|Lobster+Two:400,400i,700,700i|Merienda:400,700|Merriweather:300,300i,400,400i,700,700i,900,900i|Pacifico|Permanent+Marker|Playball|Poiret+One|Quattrocento:400,700|Righteous|ZCOOL+XiaoWei");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar Styling Starts */

.navbar-light {
  transition: 750ms ease;

  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;

    color: white !important;
  }

  &.scrolled {
    background: rgba(0, 0, 0, 0.5) !important;
  }
}

.nav-link {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  /* insert fav color*/
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  /* insert fav color*/
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  /* insert fav color*/
}

.nav-item {
  font-size: 18px;
}

#collapsenav li {
  position: relative;
  padding-left: 10px;
}

.hover-effect li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 0%;
  height: 3px;
  background-color: #ff8040;
  transition: all ease-in-out 250ms;
}

.hover-effect li a:hover::after {
  width: 100%;
}

/* Navbar Styling Ends */

/* Home Image Styling Starts */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Carousel/1.jpg");
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
}

/* Home Image Styling ends */

/* Moving Letters Styling Starts */
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #fff;

  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }

  .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0.5 0;
  }

  .ampersand {
    font-family: Baskerville, "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }

  .letters {
    display: inline-block;
    opacity: 0;
  }
}

.ml2 {
  font-weight: 300;
  font-size: 3em;
  color: #fff;
}

.main-content {
  position: absolute;
  top: 35%;
  left: 5%;
}

/* Moving Letters Styling Ends */

/* Category Blocks Styling Starts */
.cat-item {
  position: relative;
  height: 100vh;
  width: 25%;
  min-height: 600px;
  overflow: hidden;
  color: #fff;
  /* border: 2px red solid; */
  /* background-color: aqua; */
}

.cat-bg {
  height: 100vh;
  background-position: center;
  background-size: cover;
  transform-origin: bottom;
  transition: 0.5s;
}

.gray-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, black 120%);
  transition: opacity 420ms ease-in-out;
  opacity: 0;
}

.gray-gradient:hover:after {
  opacity: 1;
}

.cat-br-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Categories/brownies.jpg");
}

.cat-cc-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)),
    url("../images/Categories/cupcakes.jpg");
}

.cat-bd-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Categories/bday_cake.jpg");
}

.cat-mc-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Categories/macroons.jpg");
}

.cat-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-family: "Cookie", cursive;
  border-bottom: 6px solid #ff8040;
  z-index: 1;
}

.cat-btn {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
  padding: 15px 40px;
  border: 2px white solid;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  transition: 350ms ease-in;
  z-index: 10;
}

.cat-btn:hover {
  color: #000;
  background: #fff;
}

#section2 a {
  text-decoration: none;
}

/* Category Blocks Styling Ends */

/* Counter Styling starts */

#counter {
  padding-top: 100px;
  width: 100vw;
  height: 75vh;
}

.counter-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Carousel/3.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.stats {
  padding-top: 20px;
}

.counter-content-box {
  padding: 30px 0px;
  /* background-color: rgba(255, 128, 64,0.8); */
  border-radius: 10px;
}

.stat-headers {
  font-family: "Kaushan Script", cursive;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.stats_count {
  font-family: "cookie", cursive;
  font-size: 7em;
}

.stat-text {
  font-family: "Quattrocento", serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}

/* Counter Styling ends */

/* go to top button styling starts */

#btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  font-size: 13px;
  padding: 5px 9px;
  background-color: #ff8040;
  border: none;
  font-weight: 400;
  transition: 280ms ease-in-out;
  border-radius: 5px;
  outline: none;

  &:hover {
    background: #000;
    color: #fff;
    border: 1px solid #ff8040;
  }
}

.fa-chevron-up {
  padding-right: 3px;
  padding-top: 3px;
  font-size: 15px;
}

/* go to top button styling ends */

/* menu section styling starts */
#menu {
  padding-top: 20vh;
  height: 190vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/menu/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .line {
    margin: 3rem auto;
    height: 0.5rem;
    width: 8rem;
    background-color: #ff8040;
  }
  #menu-list {
    min-height: 150vh;
    background: linear-gradient(to right, #c5c5c5, white, #c5c5c5);
    position: relative;
    .page {
      margin-top: 3rem;
    }
    #menu-nav {
      padding-top: 7rem;
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 0px;
      }
      a {
        color: #000;
        font-size: 2rem;
        font-family: "Kaushan Script", cursive;
        text-decoration: none;
        cursor: pointer;
      }
    }
    /* menu section styling ends */
  }
}
#brownies-content {
  padding: 20px;
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #000;
    text-transform: uppercase;
  }
  .menu-content {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    height: 100%;
    .menu-content-item {
      display: flex;
      width: 50%;
      list-style-type: none;
      padding: 0 1em;
      margin: 0 0 2em;
      color: #000;

      .menu-sec {
        display: flex;
        flex-direction: column;
        flex: 1;

        .conts {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;

          .spacer {
            content: "";
            width: 100%;
            height: 0.75em;
            margin: 0 0.5rem;
            border-bottom: 2px dotted #999;
            flex: 1;
          }
        }
      }
    }
  }
}
#cakes-content {
  @extend #brownies-content;
}
#cupcakes-content {
  @extend #cakes-content;
}
#macroons-content {
  @extend #cakes-content;
}
.hide {
  display: none;
}
.conditions-price {
  margin-top: 5vh;
  bottom: 1rem;
  font-size: 1rem !important;
  .menu-pricing {
    padding-bottom: 5vh;
  }
  .bases {
    font-size: 1.2rem;
  }
}
#brownies {
  &:hover {
    background: linear-gradient(to bottom, #ff512f, #f09819);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
#cakes {
  @extend #brownies;
}
#cupcakes {
  @extend #brownies;
}
#macroons {
  @extend #brownies;
}
// Footer styling Starts

footer {
  background: linear-gradient(to right, #a09f9f, #cac9c9, #a09f9f);
  color: #333;
  padding-top: 100px;
  padding-bottom: 70px;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  max-width: 1920px;
  // height: 20vh;
  .center {
    text-align: center;
  }
  .footer_logo {
    margin-bottom: 20px;
  }
  a {
    color: #333;
    font-size: 14px;
    display: block;
    line-height: 30px;
    img {
      height: 120px;
      vertical-align: middle;
      border: none;
      max-width: 100%;
    }
  }
  .social_button {
    font-size: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    a {
      padding: 5px 22px 5px 26px;
      border: 1.15px solid rgba(51, 51, 51, 0.5);
      color: #333;
      font-size: 22px;
      display: inline-block;
      width: 69px;
      text-decoration: none;
      outline: none;
      transition: 500ms;
      &:hover {
        background-color: #ff8040;
        color: #fff;
      }
    }
  }
  .copyright {
    text-align: center;
  }
  .footer_contact {
    margin-top: 7.5vh;
    text-align: right;
    .footer_contact_row {
      margin-bottom: 38px;
      p {
        font-size: 1rem;
        margin: 5px 0;
      }
    }
    h5 {
      text-align: right;
      margin-bottom: 20px;
      color: #333;
      line-height: 30px;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
    div {
      margin-bottom: 3px;
    }
  }
  span {
    color: #ff8040;
    font-size: 1.16rem;
    font-weight: 500;
  }
}

// Footer styling ends
